@using BulBike.Web.Models.TripViewModels
@model TripResponseModel


<div class="row">
    <div class="col m10">
        <h1 class="center">Trip Details</h1>
    </div>
    @if (this.User.Identity.IsAuthenticated && Model.StartDate > DateTime.UtcNow)
    {
        if (Model.Participants.Any(x => x.Username == this.User.Identity.Name))
        {
            <div id="joinOut" class="col m2 center ver">
                <button class="btn" onclick="removeUser()">Join Out</button>
            </div>
            <div id="join" class="col m2 center ver" style="display:none">
                <button class="btn" onclick="joinUser()">Join</button>
            </div>
        }
        else
        {
            <div id="joinOut" class="col m2 center ver" style="display:none">
                <button class="btn" onclick="removeUser()">Join Out</button>
            </div>
            <div id="join" class="col m2 center ver">
                <button class="btn" onclick="joinUser()">Join</button>
            </div>
        }
    }
</div>
<hr />
<div class="row">
    <div class="col m6">
        <div class="row">
            <div class="col m6">
                <strong>Creator: </strong>
            </div>
            <div class="col m6">
                @Model.Creator
            </div>
        </div>
        <div class="row">
            <div class="col m6">
                <strong>Created On: </strong>
            </div>
            <div class="col m6">
                @Model.CreatedOn
            </div>
        </div>
        <div class="row">
            <div class="col m6">
                <strong>Started: </strong>
            </div>
            <div class="col m6">
                @Model.StartDate
            </div>
        </div>
        <div class="row">
            <div class="col m6">
                <strong>Start Point: </strong>
            </div>
            <div class="col m6">
                @Model.StartPoint
            </div>
        </div>
        @*<div class="row">
                <div class="col m6">
                    <strong>Participiants: </strong>
                </div>
                <div class="col m6" id="users">
                    @string.Join(", ", Model.Participants)
                </div>
            </div>*@
    </div>
    <div class="col m6">
        <div id="map"></div>
    </div>
</div>



<div class="row">
    @Html.ActionLink("Add Picrutes", "AddImages", "Trip", new { id = Model.Id }, new { @class = "btn col m12" })
</div>

<ul class="collapsible" data-collapsible="accordion">
    <li>
        <div class="collapsible-header "><i class="material-icons">perm_media</i>Pictures</div>
        @if (Model.Images.Count > 0)
        {
            <div class="gallery collapsible-body">
                <!-- Elastislide Carousel -->
                <ul id="carousel" class="elastislide-list">
                    @foreach (var pic in Model.Images)
                {
                    var src = Url.Action("GetImage", "Image", new { id = @pic.Id });
                        <li data-preview=@src><a href="#"><img src=@src alt="image04" /></a></li>
                    }
                </ul>
                <div class="image-preview">
                    <img id="preview" src="" />
                </div>
            </div>
        }
        else
        {
            <div class="collapsible-body"><p>No Photos yet</p></div>
        }
    </li>
    <li>
        <div class="collapsible-header "><i class="material-icons">subject</i>Description</div>
        <div class="collapsible-body"><p>@Model.Description</p></div>
    </li>
    <li>
        <div class="collapsible-header "><i class="material-icons">person_pin</i>Participiants</div>
        <div class="collapsible-body" id="users">
            @if (Model.Participants.Count > 0)
            {
                <ul>
                    @foreach (var user in Model.Participants)
                    {
                        <li class="center">
                            <a href="'@Url.Action("UserDetails", "Account")' + '/' + @user.Id">@user.Username</a>
                        </li>
                    }
                </ul>
            }
            else
            {
                <p>
                    No Participants!
                </p>
            }
        </div>
    </li>
</ul>

@section scripts{
    <script>
        function initMap() {
            var styledMap,
                styles,
                mapOptions;

            styles = [
{
    "featureType": "administrative",
    "elementType": "geometry.fill",
    "stylers": [{ "color": "#7f2200" }, { "visibility": "off" }]
},
{
    "featureType": "administrative",
    "elementType": "geometry.stroke",
    "stylers": [{ "visibility": "on" }, { "color": "#87ae79" }]
},
{
    "featureType": "administrative",
    "elementType": "labels.text.fill",
    "stylers": [{ "color": "#495421" }]
},
{
    "featureType": "administrative",
    "elementType": "labels.text.stroke",
    "stylers": [{ "color": "#ffffff" }, { "visibility": "on" }, { "weight": 4.1 }]
},
{
    "featureType": "administrative.province",
    "elementType": "labels.text",
    "stylers": [{ "visibility": "simplified" }]
},
{
    "featureType": "administrative.locality",
    "elementType": "labels",
    "stylers": [{ "visibility": "on" }]
},
{
    "featureType": "administrative.neighborhood",
    "elementType": "labels",
    "stylers": [{ "visibility": "off" }]
},
{
    "featureType": "landscape",
    "elementType": "geometry.fill",
    "stylers": [{ "color": "#abce83" }]
},
{
    "featureType": "poi",
    "elementType": "geometry.fill",
    "stylers": [{ "color": "#769E72" }]
},
{
    "featureType": "poi",
    "elementType": "labels.text.fill",
    "stylers": [{ "color": "#7B8758" }]
},
{
    "featureType": "poi",
    "elementType": "labels.text.stroke",
    "stylers": [{ "color": "#EBF4A4" }]
},
{
    "featureType": "poi.park",
    "elementType": "geometry",
    "stylers": [{ "visibility": "simplified" }, { "color": "#8dab68" }]
},
{
    "featureType": "road",
    "elementType": "geometry.fill",
    "stylers": [{ "visibility": "simplified" }]
},
{
    "featureType": "road",
    "elementType": "labels.text.fill",
    "stylers": [{ "color": "#5B5B3F" }]
},
{
    "featureType": "road",
    "elementType": "labels.text.stroke",
    "stylers": [{ "color": "#ABCE83" }]
},
{
    "featureType": "road", "elementType":
      "labels.icon", "stylers": [{ "visibility": "off" }]
},
{
    "featureType": "road.highway",
    "elementType": "geometry", "stylers": [{ "color": "#EBF4A4" }]
},
{
    "featureType": "road.highway",
    "elementType": "geometry.stroke", "stylers": [{ "visibility": "off" }]
},
{
    "featureType": "road.arterial",
    "elementType": "geometry", "stylers": [{ "color": "#9BBF72" }]
},
{
    "featureType": "road.local",
    "elementType": "geometry", "stylers": [{ "color": "#A4C67D" }]
},
{
    "featureType": "transit",
    "elementType": "all", "stylers": [{ "visibility": "on" }]
},
{
    "featureType": "water",
    "elementType": "geometry",
    "stylers": [{ "visibility": "on" }, { "color": "#aee2e0" }]
},
{
    "featureType": "water",
    "elementType": "labels",
    "stylers": [{ "visibility": "on" }]
}];

            styledMap = new google.maps.StyledMapType(styles, { name: "RoutExtreme" });

            var url = document.URL;
            var id = url.substring(url.lastIndexOf('/') + 1);
            var trips;

            $.ajax({
                type: "GET",
                url: '@Url.Action("GetTripRoute", "Trip")' + '/' + id,
                contentType: "application/json; charset=utf-8",
                success: function (res) {
                    trips = res;

                    console.log(trips)
                    var map = new google.maps.Map(document.getElementById('map'), {
                        zoom: 10,
                        center: { lat: res[0].lat, lng: res[0].lng },
                        mapTypeControlOptions: {
                            mapTypeIds: [google.maps.MapTypeId.ROADMAP, 'map_style']
                        }
                    });

                    var flightPath = new google.maps.Polyline({
                        path: trips,
                        geodesic: true,
                        strokeColor: '#FF0000',
                        strokeOpacity: 1.0,
                        strokeWeight: 2
                    });

                    map.mapTypes.set('map_style', styledMap);
                    flightPath.setMap(map);

                },
                error: function (res) { console.log(res); }
            });

        }
    </script>

    @Scripts.Render("https://maps.googleapis.com/maps/api/js?key=AIzaSyA0EBUP2Baj7_5yrdf3hoQ4xXf86EaoPIU&callback=initMap")
    @Scripts.Render("~/bundles/galleryScripts")
    <script type="text/javascript">
        var current = 0,
                 $preview = $('#preview'),
                 $carouselEl = $('#carousel'),
                 $carouselItems = $carouselEl.children(),
                 carousel = $carouselEl.elastislide({
                     current: current,
                     minItems: 4,
                     onClick: function (el, pos, evt) {

                         changeImage(el, pos);
                         evt.preventDefault();

                     },
                     onReady: function () {

                         changeImage($carouselItems.eq(current), current);

                     }
                 });

        function changeImage(el, pos) {

            $preview.attr('src', el.data('preview'));
            $carouselItems.removeClass('current-img');
            el.addClass('current-img');
            carousel.setCurrent(pos);

        }
    </script>
    <script>
        var url = document.URL;
        var id = url.substring(url.lastIndexOf('/') + 1);

        function joinUser() {
            $.ajax({
                type: "POST",
                url: '@Url.Action("JoinUser", "Trip")' + '/' + id,
                contentType: "application/json; charset=utf-8",
                success: function (res) {
                    console.log(res);
                    console.log("Joined User");

                    var test = "";
                    for (var i = 0, len = res.length; i < len; i++) {
                        var url = '@Url.Action("UserDetails", "Account")' + '/' + res[i].id;
                        test += '<li  class="center"><a href="' + url + '">' + res[i].username + '</a></li>'
                    }

                    $('#users').empty();
                    $('#users').append(test);

                    $('#join').hide();
                    $('#joinOut').show();

                },
                error: function (res) { console.log(res); }
            });
        }

        function removeUser() {
            $.ajax({
                type: "POST",
                url: '@Url.Action("RemoveUserFromTrip", "Trip")' + '/' + id,
                contentType: "application/json; charset=utf-8",
                success: function (res) {
                    console.log("Removed User from trip");

                    var test = "";
                    for (var i = 0, len = res.length; i < len; i++) {
                        var url = '@Url.Action("UserDetails", "Account")' + '/' + res[i].id;
                        test += '<li class="center"><a href="' + url + '">' + res[i].username + '</a></li>'
                    }

                    $('#users').empty();
                    $('#users').append(test);

                    $('#joinOut').hide();
                    $('#join').show();
                },
                error: function (res) { console.log(res); }
            });
        }
    </script>
}
