@model RouteExtreme.Web.Models.TripViewModels.TripRequestModel
@{
    ViewBag.Title = "Create";
}

<h2>Create Trip</h2>
@using (Html.BeginForm("Create", "Trip", FormMethod.Post, new { @class = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col m4">
            @Html.EditorFor(m => m.StartDate)
            @Html.EditorFor(m => m.Description)
            @Html.EditorFor(m => m.ChatRoomName, new { @class = "form-control", id = "chatRoomName" })
            <div class="row">
                <div class="col-md-5 col-md-offset-2">
                    <input type="submit" class="btn btn-default" onclick="addToChat" id="create" />
                </div>
            </div>
        </div>
        <div class="col m8">
            <div class="map-container">
                <div id="map"></div>
            </div>
        </div>
    </div>
    <div class="hide">
        @Html.EditorFor(m => m.StartPoint, new { id = "StartPoint" })
    </div>
    <div class="col-md-10">
        @Html.HiddenFor(m => m.Route, new { @class = "form-control", id = "routePoints" })
    </div>
}

@section scripts{
    @Scripts.Render("~/Scripts/Maps/map.js");
    @Scripts.Render("https://maps.googleapis.com/maps/api/js?key=AIzaSyA0EBUP2Baj7_5yrdf3hoQ4xXf86EaoPIU&callback=initMap")
    <script>
        $('#datetimepicker').datetimepicker({
            formatTime: 'H:i',
            formatDate: 'd.m.Y',
            defaultDate: '+03.01.1970',
            defaultTime: '10:00',
            step: 30,
            timepickerScrollbar: false
        });
    </script>
}
