@using RouteExtreme.Web.Models.Comments

@model PagableCommentsViewModel


<div class="row">
    <div class="col m10">
        <h1 class="center">Trip Details</h1>
    </div>
    @if (this.User.Identity.IsAuthenticated && Model.Trip.StartDate > DateTime.UtcNow)
    {
        if (Model.Trip.Participants.Any(x => x.Username == this.User.Identity.Name))
        {
            <div id="joinOut" class="col m2 center ver">
                <button class="btn" onclick="removeUser()">Join Out</button>
            </div>
            <div id="join" class="col m2 center ver" style="display:none">
                <button class="btn" onclick="joinUser()">Join</button>
            </div>
        }
        else
        {
            <div id="joinOut" class="col m2 center ver" style="display:none">
                <button class="btn" onclick="removeUser()">Join Out</button>
            </div>
            <div id="join" class="col m2 center ver">
                <button class="btn" onclick="joinUser()">Join</button>
            </div>
        }
    }
</div>
<hr />
<div class="row">
    <div class="col m6">
        <div class="row">
            <div class="col m6">
                <strong>Creator: </strong>
            </div>
            <div class="col m6">
                @Model.Trip.Creator
            </div>
        </div>
        <div class="row">
            <div class="col m6">
                <strong>Created On: </strong>
            </div>
            <div class="col m6">
                @Model.Trip.CreatedOn
            </div>
        </div>
        <div class="row">
            <div class="col m6">
                <strong>Started: </strong>
            </div>
            <div class="col m6">
                @Model.Trip.StartDate
            </div>
        </div>
        <div class="row">
            <div class="col m6">
                <strong>Start Point: </strong>
            </div>
            <div class="col m6">
                @Model.Trip.StartPoint
            </div>
        </div>
    </div>
    <div class="col m6">
        <div id="map"></div>
    </div>
</div>
<hr />


<ul class="collapsible popout" data-collapsible="accordion">
    <li>
        <div class="collapsible-header "><i class="material-icons">perm_media</i>Pictures</div>   
        <div class="row collapsible-body">
            @Html.ActionLink("Add Picrutes", "AddImages", "Trip", new { id = Model.Trip.Id }, new { @class = "btn col m12" })
        </div>     
        @if (Model.Trip.Images.Count > 0)
        {
            <div class="gallery collapsible-body">
                <!-- Elastislide Carousel -->
                <ul id="carousel" class="elastislide-list">
                    @foreach (var pic in Model.Trip.Images)
                {
                    var src = Url.Action("GetImage", "Image", new { id = @pic.Id });
                        <li data-preview=@src><a href="#"><img src=@src alt="image04" /></a></li>
                    }
                </ul>
                <div class="image-preview">
                    <img id="preview" src="" />
                </div>
            </div>
        }
        else
        {
            <div class="collapsible-body"><p>No Photos yet</p></div>

        }
    </li>
    <li>
        <div class="collapsible-header "><i class="material-icons">subject</i>Description</div>
        <div class="collapsible-body"><p>@Model.Trip.Description</p></div>
    </li>
    <li>
        <div class="collapsible-header "><i class="material-icons">person_pin</i>Participiants</div>
        <div class="collapsible-body" id="users">
            @if (Model.Trip.Participants.Count > 0)
            {
                <ul>
                    @foreach (var user in Model.Trip.Participants)
                    {

                        <li class="row center">
                            <a href="@Url.Action("UserDetails", "Account", new { id = user.Id })" class="btn col m12">@user.Username</a>
                        </li>
                    }
                </ul>
            }
            else
            {
                <p>
                    No Participants!
                </p>
            }
        </div>
    </li>
    <li>
        <div class="collapsible-header "><i class="material-icons">person_pin</i>Comments</div>
        <div class="collapsible-body" id="comments">
            @if (Model.All.Count > 0)
            {
                @Html.Partial("_Comments", Model)
            }
            else
            {
                <p>
                    No Comments!
                </p>
            }
            <div id="comments">
                @Html.Partial("_CreateComment", new CommentInputModel { TripId = Model.Trip.Id })
            </div>
        </div>
    </li>

</ul>
@section scripts{
    <script>

    </script>


    <script src="/Scripts/Maps/details-trip-map.js"></script>
    @Scripts.Render("https://maps.googleapis.com/maps/api/js?key=AIzaSyA0EBUP2Baj7_5yrdf3hoQ4xXf86EaoPIU&callback=initMap")
    @Scripts.Render("~/bundles/galleryScripts")
    <script type="text/javascript">
        var current = 0,
                 $preview = $('#preview'),
                 $carouselEl = $('#carousel'),
                 $carouselItems = $carouselEl.children(),
                 carousel = $carouselEl.elastislide({
                     current: current,
                     minItems: 4,
                     onClick: function (el, pos, evt) {

                         changeImage(el, pos);
                         evt.preventDefault();

                     },
                     onReady: function () {

                         changeImage($carouselItems.eq(current), current);

                     }
                 });

        function changeImage(el, pos) {

            $preview.attr('src', el.data('preview'));
            $carouselItems.removeClass('current-img');
            el.addClass('current-img');
            carousel.setCurrent(pos);

        }
    </script>
    <script>
        var url = document.URL;
        var id = url.substring(url.lastIndexOf('/') + 1);
        var chathub = $.connection.chatHub;

        function joinUser() {
            $.ajax({
                type: "POST",
                url: '@Url.Action("JoinUser", "Trip")' + '/' + id,
                contentType: "application/json; charset=utf-8",
                success: function (res) {
                    console.log(res);
                    console.log("Joined User");

                    var test = "";
                    for (var i = 0, len = res.length; i < len; i++) {

                        var url = '@Url.Action("UserDetails", "Account")' + '/' + res[i].id;
                        test += '<li  class="row center"><a href="' + url + '" class="btn col m12">' + res[i].username + '</a></li>'
                    }

                    $('#users').empty();
                    $('#users').append(test);
                    $('#join').hide();
                    $('#joinOut').show();

                    chathub.server.addToRoom(id);

                },
                error: function (res) { console.log(res); }
            });
        }

        function removeUser() {
            $.ajax({
                type: "POST",
                url: '@Url.Action("RemoveUserFromTrip", "Trip")' + '/' + id,
                contentType: "application/json; charset=utf-8",
                success: function (res) {
                    console.log("Removed User from trip");

                    var test = "";
                    if (res.length > 0) {
                        for (var i = 0, len = res.length; i < len; i++) {
                            var url = '@Url.Action("UserDetails", "Account")' + '/' + res[i].id;
                            test += '<li class="row center"><a href="' + url + '" class="btn col m12>' + res[i].username + '</a></li>'
                        }
                    } else {
                        test = "<p> No Participants!</p>";
                    }

                    $('#users').empty();
                    $('#users').append(test);

                    $('#joinOut').hide();
                    $('#join').show();
                    chathub.server.removeFromRoom(id);
                },
                error: function (res) { console.log(res); }
            });
        }
    </script>
}
